.jumbotron {
    background: center;
    background-image: url(../images/05.jpg);
    color: #ffffff;
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;
    height: 800px;
    padding-top: 200px;
}

.jumbotron h1 {
    font-size: 110px;
}

#main {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 0px;
}

.thumbnail.avatar {
    border: none;
    text-align: center;
    border-radius: 50%;
}

.avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: right;
}

.col-md-5 {
    text-align: center;
}

.page-header {
    text-align: center
}

.col-lg-6 {
    background-color: rgba(6, 10, 20, 0.27);
    padding: 30px;
}

.col-sm-4 {
    text-align: center
}

p {
    font-size: 22px;
}

ul {
    font-size: 18px;
}

a {
    font-size: 20px;
    font-weight: bolder;
    color: aliceblue
}

.subheading {
    font-size: 22px;
}

footer {
    background-image: url(../images/03.jpg);
    background-size: cover;
}

h3 {
    color: aliceblue
}

#layout1 {
    height: 300px;
    width: 100%;
    background-image: url(../images/c1.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 0 auto;
    position: relative;
}

#layout2 {
    height: 300px;
    width: 100%;
    background-image: url(../images/c2.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 0 auto;
    position: relative;
}

#layout3 {
    height: 300px;
    width: 100%;
    background-image: url(../images/c3.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 0 auto;
    position: relative;
}

#layout4 {
    height: 300px;
    width: 100%;
    background-image: url(../images/c4.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 0 auto;
    position: relative;
}

#test {
    opacity: 0;
    height: 300px;
    width: 100%;
    background-color: rgba(28, 27, 24, 0.5);
    transition-property: opacity;
    transition-duration: .25s;
    transition-timing-function: ease-out;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: .25s;
    -webkit-transition-timing-function: ease-out;
}

#test:hover {
    opacity: 1
}

.col-md-3 {
    padding: 0;
}

p1 {
    position: relative;
    top: 120px;
    padding: 20px 0px;
    color: rgba(240, 248, 255, 0.45);
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 600;
    border: 12px solid rgba(0, 0, 0, 0.63);
    white-space: nowrap;
}

ul {
    font-size: 24px
}
